@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body{
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%) ,url(images/piano.jpg);
    background-size: cover;
    font-family: "Josefin Sans", sans-serif;
    background-color: #88F;
}

h1 {
    font-family: "Josefin Sans", serif;
    font-weight: bold;
    font-size: 48px;
}

kbd {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
}

.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(230,230,230,0.8);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 30px rgba(30,30,30,0.9);
    border-radius: 6px;
    margin: 2% 2%;
    flex-basis: 42.5%;
    flex-grow: 1;
}

.white-keys {
    box-shadow: 0px 10px 30px rgba(30,30,30,0.8);
    background-color: rgba(30,30,30,0.8);
    padding: 10px;
    border-radius: 6px;
}

.white-keys kbd{
    background-color: white;
    display: inline-flex;
    height: 200px;
    width: 50px;
    border: 2px solid rgba(230, 230, 230, 0.8);
    border-top: 0px;
    border-radius: 3px 3px 6px 6px;
    align-items: flex-end;
    justify-content: center;
    margin: -2px;
    transition: all 0.1s ease-in-out;
}
.black-keys kbd{
    background-color: black;
    display: inline-flex;
    height: 90px;
    width: 30px;
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    border-radius: 1px 1px 3px 3px;
    margin:-1px 7px;
    transition: all 0.1s ease-in-out;
}
.white-keys {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.black-keys {
    position: fixed;
    z-index: 2;
    margin-top: -58px;
}
#keyT{
    margin-left: 60px;
}

footer {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.card-footer {
    background-color: rgba(230,230,230,0.8);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 30px rgba(30,30,30,0.9);
    border-radius: 6px;
    margin: 20px 10px;
    flex-basis: 42.5%;
    flex-grow: 1;
}
