body {
    background-color: rgb(230,230,230);
    margin: 10%;
}

kbd {
    background-color: white;
    display: inline-block;
    height: 200px;
    width: 50px;
    text-align: center;
    border-style: outset;
    margin-left: -4px;
}

.container {
    width: max-content;
    margin: auto;
}